notification-item {
  margin: 10px;
}
.rootNotifItem {
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;


  .linkBtn {
    float: right;
    margin-right: 1vw;
    border-radius: 7px;
    position: relative;
    border: transparent solid 2px;
    background-color: $primary;
    font-family: 'Orbitron', sans-serif;
    color: $white;
  }

}
