login-content-area {
  background: $custom-backgroundColor;
  .container {
    margin-top: 80px;
    display: flex;
    position: relative;
    width: auto;
    background: $custom-backgroundColor;
    justify-content: center;
    .loginbuttons {
      justify-content: center;

      margin-top: 40px;
      height: 10vh;
    }
  }
  p {
    font-family: 'Orbitron', sans-serif!important;
    color: $white;
  }
  ion-label {
    font-family: 'Orbitron', sans-serif!important;
    color: $white;
  }
  ion-header {
    font-family: 'Orbitron', sans-serif!important;
    color: $white;
  }
  .checkbox {
    font-family: 'Orbitron', sans-serif !important;
    margin-top: 50px;
    max-height: 150px;
  }

  .titleroot {
    box-shadow: 0px 1px;
    background: $custom-backgroundColor;

    .header {
      margin-top: 7px;
      align-items: center;
      line-height: 35px;
      text-align: center;
      font-size: 24px;
      font-family: 'Orbitron', sans-serif!important;
      margin-bottom: 40px;
    }
  }
  .form-group {
    min-height: 90px;
    }
  .form-group2 {
    margin-top: 50px;
    min-height: 120px;
    max-height: 120px;
  }

  .row {
    margin-top: 10px;
  }

  .error {
    color: red;
  }


}
