<div class="titleroot">
  <ion-header class="header">Login with your user</ion-header></div>
<div class="container">
  <form class="formcontainer">
    <div class="form-group">
      <ion-label> Username </ion-label>
      <inputbox-login (signInfo)="readUsername($event)"></inputbox-login>
    </div>
    <div class="form-group2">
      <ion-label> Password</ion-label>
      <inputbox-login-encrypted (signInfo)="readPassword($event)"></inputbox-login-encrypted>

    </div>
    <p *ngIf="invalidEmail">{{invalidEmail}}</p>
    <p *ngIf="invalidPassword">{{invalidPassword}}</p>
    <div class="checkbox">
    </div>
    <div class="loginbuttons">
      <button-register-signin label="Sign in" (click)="signInWithEmail()"></button-register-signin>
      <button-register-signin label="Register" (click)="register()"></button-register-signin>
    </div>
  </form>

</div>
