<div class="fullWindowCover">
  <div class="menuContainer">
    <h1 id="menuHeader">Are you sure?</h1>
    <div class="menuButtons">
      <button-default label="Yes" (click)="onYes()"></button-default>
      <button-default label="No" (click)="onBack()"></button-default>
    </div>
  </div>
</div>
