game-chat {
  .chatWindow {
    border: solid white 3px;
    border-radius: 15px;
    width: 23vw;
    height: 23vw;
    margin-left: 1vw;

    .chatContentContainer {
      display: flex;
      height: 85%;
      width: 100%;
      border-bottom: white solid 3px;
    }

    .chatInputContainer {
      height: 15%;
      width: 100%;
    }
  }
}
