<div class="chatWindow">
  <div class="chatContentContainer">
    <game-chat-message-content [newMessage]="messageText"></game-chat-message-content>
  </div>
  <div class="chatInputContainer">
    <game-chat-input-content (messageEmitter)="sendMessage($event)"></game-chat-input-content>
  </div>
</div>
