<div class="rootUnfinishedItem" *ngIf="inlogUser">
  <div class="grid-container" [ngClass]="{'grid-container-selected': selected}">
    <div class="grid-item">
      <div class="logo"></div>
    </div>
    <div class="grid-item">
      <p>{{Lobby.gameSettings.amountOfUsers}} players</p>
      <p>{{Lobby.gameSettings.secondsPerTurn}} seconds per turn</p>
    </div>
    <div class="grid-item">
        <span *ngIf="Lobby.host.username === inlogUser.username">
          <p>You're host</p>
        </span>
    </div>
  </div>
</div>
