unfinished-item {
  .rootUnfinishedItem {
    width: 90%;
    min-height: 40px;
    margin-left: auto;
    margin-right: auto;
    color: $primary;
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
    font-size: 13px;
    background-color: $custom-backgroundColor;
    margin-bottom: 1vw;

    .grid-container {
      min-height: 100px;
      display: grid;
      grid-template-columns: 20% auto 30%;
      border: 0.2vw solid transparent;
    }

    .grid-container-selected {
      min-height: 100px;
      display: grid;
      grid-template-columns: 20% auto 30%;
      border-width: 0.2vw;
      border-style: outset;
      border-color: buttonface;
      border-image: initial;
    }

    .grid-item {
      text-align: left;
      color: $primary;
      margin-left: 1vw;

    }

    .logo {
      top: 10px;
      height: 100px;
      background-image: url("../../../../assets/logo/maze.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50px;

    }
  }
}
