<div class="myInfoContainer">
  <h1 [ngStyle]="{'color': player.color.toLowerCase()}">{{player.name}}</h1>
  <div id="treasureTarget">
    <p>Target:</p>
    <img src="../../../../assets/treasures/{{player.toFind[0].name}}.svg" id="treasureTargetImg"
         alt="targetTreasure">
  </div>
  <div class="collectedTreasures">
    <p id="collectedText">Found:</p>
    <div class="treasuresContainer" *ngIf="player.found.length != 0; else noFound">
      <div class="treasureItem" *ngFor="let treasure of player.found;">
        <img src="../../../../assets/treasures/{{treasure.name}}.svg" class="collectedTreasureImg"
             alt="collectedTreasure">
      </div>
    </div>
    <ng-template #noFound>
      <p class="noTreasuresFound">No treasures found yet!</p>
    </ng-template>

  </div>
</div>
