<div class="fullWindowCover">
  <div class="menuContainer">
    <h1 id="menuHeader">Menu</h1>
    <div class="menuButtons">
      <button-default label="Main Menu" (click)="onMainMenu()"></button-default>
      <button-default label="Back" (click)="onBack()"></button-default>
    </div>
  </div>
</div>
