

.wrapper-selectable-list-item {
  margin-top: 10px;
  display: flex;
  width: 90%;
  height: 20%;
  position: relative;
  margin-right: 18%;
  align-items: center;
  border-bottom: solid 1px $white;

  .icon {
    margin-bottom: 2%;
    margin-right: 35%;
    position: absolute;;
    background-color: transparent;

    .icon-temp {
      width: 20px;
      height: 90%;
      background-color: transparent;

      &.icon-check {
        display: flex;
        align-items: center;
        background-color: transparent;
      }
    }
  }

  ion-label {
    margin-left: 38%;
    font-size: 15px;
    text-align: left;
    margin-bottom: 8%;

    width: 100%;
    color: $white;
    font-family: 'Orbitron', sans-serif;
  }
}
