<div class="chatWindow">
  <div class="chatIcon">
  </div>
  <div class="chatContentContainer">
    <chat-message-content-area [newMessage]="messageText"></chat-message-content-area>
  </div>
  <div class="chatInputContainer">
    <chat-input-content (messageEmitter)="sendMessage($event)"></chat-input-content>
  </div>
</div>
