
.chatWindow{
  margin-left: 2%;
  border: 5px solid $primary;
  border-radius: 15px;
  width: 96%;
  height:96%;
  position: relative;
  .chatIcon {
    margin-left: 5%;
    display: flex;
    position: relative;
    height: 5%;
    max-height: 40px;
    width: 13%;
    max-width: 35px;
    background-image: url("../../../assets/icons/chatIcon.png");
    background-size: cover;

  }
  .chatContentContainer {
    position: relative;
    display: flex;
    height: 65%;
    width: 100%;
  }
  .chatInputContainer {
    justify-content: center;
    padding-top: 2%;
    position: relative;
    display: flex;
    height: 30%;
    width: 100%;
    border-top: $primary solid 5px;
  }
}
