<div class="rootTurnStatus">
  <div *ngIf="!timeIsUp" class="timeStatus">
    <p>{{timeLeft}} Seconds left</p>
  </div>
  <div *ngIf="timeIsUp"  class="timeStatus">
    <p>Your time is up! </p>
  </div>
  <button (click)="onTurnDone()" class="btnDone" *ngIf="btnShow">End turn</button>

</div>
