<div class="rootInputboxEncrypted">
  <ion-input class="inputbox"
             type="password"
             [formControl]="passwordFormControl"
             [ngModel]="placeholderInput"
             (ngModelChange)="sendSignInfo($event)"></ion-input>

    <p *ngIf="passwordFormControl.hasError('required')">
      password is required</p>

</div>
