inputbox-login-encrypted {
  .rootInputboxEncrypted {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;

    .inputbox {
      justify-content: center;
      color: $white;
      font-family: 'Orbitron', sans-serif;
      background-color: transparent;
      opacity: 10%;
      border: 1px solid $white;
      border-radius: 15px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
    }
    p {
      color: $white;
      font-family: 'Orbitron', sans-serif;
    }
  }
}
