<div class="rootInputbox">
  <ion-input class="inputbox"
         type="text"
         [formControl]="usernameFormControl"
         [ngModel]="placeholderInput"
             (ngModelChange)="sendSignInfo($event)"></ion-input>
  <p *ngIf="usernameFormControl.hasError('required')">
    username is required</p>

</div>
