inputbox-login {
  .rootInputbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    label {
      font-size: 15px;
      color: $white;
      font-family: 'Orbitron', sans-serif;
      margin-bottom: 5px;
    }

    ion-input {
      justify-content: center;
      color: $white;
      font-family: 'Orbitron', sans-serif;
      opacity: 10%;
      border: 1px solid $white;
      border-radius: 15px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
    }
    p {
      color: $white;
      font-family: 'Orbitron', sans-serif;
    }
  }

}
