<searchbar *ngIf="tabIndex === 2" (selectableItemsEmitter)="showSearchResults($event)" ></searchbar>
<div class="list-area-root">
  <div class="listarea">
    <list
      [lobbyId]="lobbyId"
      [tabIndex]="tabIndex"
      [selectableItems]="listSelectableItem"
      [searchResults]="searchResults"
      (selectableItemsEmitter)="setSelectableItemsList($event)">
    </list>
  </div>
</div>
