<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<ion-content class="mainroot" *ngIf="user">
  <div class="stars"></div>
  <div class="twinkling"></div>
  <edit-password *ngIf="showEditPassword" (back)="onBack()"></edit-password>
  <delete-account *ngIf="showDeleteAccount" (back)="onBack()"></delete-account>


  <div class="headerRoot">
    <div class="header-button">
      <button id="startButton" (click)="onBackMain()">Back</button>
    </div>
    <h1 class="headerProfile">Profile</h1>
  </div>


  <div class="leftContainers">
    <div class="profileContainer">

      <div class="zelfgemaakt" ngDefaultControl>
        <h2>My info</h2>
        <div class="username">
          <label> {{user.username}} </label>
        </div>
        <div class="usermail">
          <label> {{user.email}}</label>
        </div>
        <button mat-raised-button class="profileButtons" (click)="onChangePassword()">Change password</button>
        <br>
        <button mat-raised-button color="warn" class="profileButtons" (click)="onDeleteAccount()">Delete account
        </button>
      </div>
    </div>


    <div class="profilesettingContainer">

      <h2>Statistics</h2>
      <br>

      <div class="stats">

        <div class="First">
          <div class="circle-tile ">
            <div class="circle-tile-heading"><i class="fa fa-trophy fa-fw fa-2x"></i></div>
            <div class="circle-tile-content">
              <div class="circle-tile-description text-faded"> Wins</div>
              <div class="circle-tile-number text-faded ">{{user.userStatistic.gamesWon}}</div>
            </div>
          </div>
        </div>

        <div class="Second">
          <div class="circle-tile ">
            <div class="circle-tile-heading"><i class="fa fa-times fa-fw fa-2x"></i></div>
            <div class="circle-tile-content">
              <div class="circle-tile-description text-faded"> Losses</div>
              <div class="circle-tile-number text-faded ">{{user.userStatistic.gamesLost}}</div>
            </div>
          </div>
        </div>

        <div class="Third">
          <div class="circle-tile ">
            <div class="circle-tile-heading"><i class="fa fa-users fa-fw fa-2x"></i></div>
            <div class="circle-tile-content">
              <div class="circle-tile-description text-faded"> Played</div>
              <div class="circle-tile-number text-faded ">{{user.userStatistic.gamesPlayed}}</div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="sliders">
      <div class="titlenotifi">
        <h2>Notifications</h2>
      </div>

      <ion-item no-lines>
        <ion-label>My turn</ion-label>
      <ion-toggle  color="tertiary"  class="toggleTest" [ngModel]="myTurn" [checked]="myTurn" (change)="checkClickedMyTurn(myTurn)"></ion-toggle>
      </ion-item>
      <ion-item no-lines>
      <ion-label>Incoming message</ion-label>
      <ion-toggle  color="tertiary"  [ngModel]="incomingMessage" [checked]="incomingMessage"
                        (change)="checkClickedIncomingMessage(incomingMessage)"></ion-toggle>
      </ion-item>
        <ion-item no-lines>
      <ion-label>Turn expiring</ion-label>
      <ion-toggle color="tertiary"  [ngModel]="turnExpiring" [checked]="turnExpiring"
                        (change)="checkClickedTurnExpiring(turnExpiring)"></ion-toggle>
        </ion-item>
          <ion-item no-lines>
      <ion-label>Receive invite</ion-label>
      <ion-toggle color="tertiary" [ngModel]="receiveInvite" [checked]="receiveInvite"
                        (change)="checkClickedReceiveInvite(receiveInvite)"></ion-toggle>
          </ion-item>
            <ion-item no-lines>
      <ion-label>End of Turn</ion-label>
      <ion-toggle color="tertiary"  aria-label="End of Turn" [ngModel]="turnPlayed" [checked]="turnPlayed"
                        (change)="checkClickedTurnPlayed(turnPlayed)"></ion-toggle></ion-item>
    </div>
  </div>

</ion-content>
