<div class="myInfoContainer">
  <h1 [ngStyle]="{'color': player.color.toLowerCase()}">{{player.name}}</h1>
  <div class="treasuresContainer" *ngIf="player.found.length != 0; else noFound">
    <div class="treasureItem" *ngFor="let treasure of player.found;">
      <img src="../../../../assets/treasures/{{treasure.name}}.svg" class="collectedTreasureImg" alt="collectedTreasure">
    </div>
  </div>
  <ng-template #noFound>
    <ion-label class="noTreasuresFound">No treasures found yet!</ion-label>
  </ng-template>
</div>
