<div class="titleroot">
  <h1 class="header">Registration</h1>
  <div class="container">
    <form class="formcontainer">
      <div class="form-group">
        <label> Username </label>
        <inputbox-login (signInfo)="readUsername($event)"></inputbox-login>
      </div>

      <div class="form-group">
        <label> Email </label>
        <inputbox-login (signInfo)="readMail($event)"></inputbox-login>
      </div>

      <div class="form-group">
        <label> Password </label>
        <inputbox-login-encrypted (signInfo)="readPassword($event)"></inputbox-login-encrypted>
      </div>
      <div class="form-group">
        <label> Password confirm </label>
        <inputbox-login-encrypted (signInfo)="readPasswordConfirm($event)"></inputbox-login-encrypted>
      </div>
      <p *ngIf="invalidEmail">{{invalidEmail}}</p>
      <p *ngIf="invalidPassword">{{invalidPassword}}</p>

      <div class="loginbuttons">
        <button-register-signin label="Register" (click)="registrate()"></button-register-signin>
        <button-register-signin label="Login" (click)="login()"></button-register-signin>
      </div>
    </form>
  </div>
</div>
