page-registration {
  background: $custom-backgroundColor;
  .titleroot {
    font-family: 'Orbitron', sans-serif;
    color: white;
    width: 50vw;
    height: 10vh;
    position: relative;
    align-items: center;
    display: block;
    background: $custom-backgroundColor;

    margin: 0 auto;


    .header {
      align-items: center;
      width: 100%;
      height: 60px;
      font-size: 24px;
      text-align: center;
      background: -webkit-linear-gradient($primary, $secondary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .container {
      display: flex;
      position: relative;
      width: auto;
      justify-content: center;

      .loginbuttons {
        justify-content: center;


      }
    }
  }


  .error {
    color: red;
  }

}
