
<ion-content class="contentLobby">
  <div class="stars"></div>
  <div class="twinkling"></div>


  <div class="rootLobby1" [hidden]="showChatValue || showInviteValue">
    <div class="lobbyTitle">
      <button id="leaveButton" (click)="onLeave()">Leave</button>
      <h1>Invite players</h1>
      <button id="startButton" (click)="onStartGame()">Start Game</button>
    </div>
    <div class="chatButton" (click)="showChat()">
      <img src="../../assets/icons/chatIcon.png">
    </div>
    <div class="lobbyContent" >
      <div class="gameparty">
        <gameparty *ngIf="lobby" [users]="lobby.listUsers" [hostUser]="hostUser">
        </gameparty>
        <div class="invitePlayers">
          <button-default (click)="toggleInvite()" label="Invite players"></button-default>
        </div>
      </div>
    </div>
  </div>


  <div class="rootLobby2" [hidden]="!showInviteValue">
    <div class="lobbyTitle">
      <h1>Invite players</h1>
    </div>
    <div class="goBack">
      <button-default label="Go Back" (click)="toggleInvite()"></button-default>
    </div>

    <div class="lobbyContent">
      <div class="inviteClass">
        <invites [lobbyId]="lobbyId" class="invites" >
        </invites>
      </div>
    </div>
  </div>


  <div class="rootLobby3" [hidden]="!showChatValue">
    <div class="lobbyTitle">
      <h1>Invite players</h1>
    </div>
    <div class="goBack">
      <button-default label="Go Back" (click)="showChat()"></button-default>
    </div>
    <div class="lobbyContent">
      <div class="chat">
        <chatwindow *ngIf="lobby"></chatwindow>
      </div>
    </div>
  </div>


</ion-content>
