page-lobby {
  * {
    margin: 0;
    padding: 0;
  }


  #leaveButton {
    margin-right: 3%;
    justify-self: center;
    background: $secondary;
    font-family: 'Orbitron', sans-serif;
    font-size: 10px;
    color: white;
    font-weight: bold;
    border-radius: 9px;
    border:transparent;
    width: 20%;
    height: 25%;
    outline: none;
  }

  #leaveButton:hover {
    background: transparent;
    background-image: url("../../assets/icons/button_background3.png");
    background-size: 8vw 5vw;
    outline: none;
  }

  #startButton {
    margin-left: 3%;
    justify-self: center;
    background: $secondary;
    font-family: 'Orbitron', sans-serif;
    font-size: 10px;
    color: white;
    font-weight: bold;
    border-radius: 9px;
    border:transparent;
    width: 20%;
    height: 25%;
    outline: none;
  }

  #startButton:hover {
    background: transparent;
    background-image: url("../../assets/icons/button_background3.png");
    background-size: 8vw 5vw;
    outline: none;
  }

  .contentLobby {
    position: relative;
    width: 100%;
    height: 100%;

    .rootLobby1 {
      width: 100%;
      height: 70%;
      position: relative;

      h1 {
        text-align: center;
        font-family: 'Orbitron', sans-serif;
        background: -webkit-linear-gradient($primary, $secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .chatButton {
        margin-left: 10%;
        width: 10%;
        height: 10%;
        position: relative;

        img {
          width: 40px;
          height: 40px;
        }
      }

      .chatButton {
        margin-left: 10%;
        width: 10%;
        height: 10%;
        position: relative;

        img:hover {
          transform: scale(1.25) rotate(360deg);
          transition: all 1s;
          -webkit-transition: all 600ms;
          width: 40px;
          height: 40px;
        }

      }

      .lobbyContent {
        margin-top: 5%;
        height: 90%;
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;

        .gameparty {
          margin-top: 15%;
          position: relative;
          width: 70%;
          height: 85%;

          .invitePlayers {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            height: 20%;
          }
        }
      }
    }
  }

  .rootLobby2 {
    width: 100%;
    height: 70%;
    position: relative;

    h1 {
      font-family: 'Orbitron', sans-serif;
      background: -webkit-linear-gradient($primary, $secondary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .goBack {
      margin-left: 5%;
      width: 30%;
      height: 10%;
      position: relative;
    }


    .lobbyContent {
      margin-top: 2%;
      height: 95%;
      width: 100%;
      display: flex;
      position: relative;
      justify-content: center;

      .inviteClass {
        margin-left: 5%;
        position: relative;
        display: flex;
        width: 95%;
        height: 60%;
        justify-content: center;
      }
    }
  }

  .rootLobby3 {
    width: 100%;
    height: 85%;
    position: relative;

    h1 {
      font-family: 'Orbitron', sans-serif;
      background: -webkit-linear-gradient($primary, $secondary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .goBack {
      margin-left: 5%;
      width: 30%;
      height: 10%;
      position: relative;
    }

    .lobbyContent {
      margin-left: 3%;
      margin-top: 2%;
      height: 100%;
      width: 90%;
      display: flex;
      position: relative;

      .chat {
        position: relative;
        display: flex;
        width: 15%;
        height: 90%;
      }
    }
  }

  .lobbyTitle {
    align-items: center;
    width: 100%;
    height: 15%;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  #input {
    margin-bottom: 16px;
  }

  @keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }

  @-webkit-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }

  @-moz-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }

  @-ms-keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }

  .stars, .twinkling, .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .stars {
    background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: -1;
  }

  .twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: -1;

    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
  }

}


