host-profile {

  .rootProfile {
    margin-left: 30%;
    position: relative;
    width: 100%;
    height: 100%;
    p{
      font-family: 'Orbitron', sans-serif;
      color: $white !important;
    }
    .playerPic {

      margin-top: 27%;
      position: relative;
      width: 50%;
      height: 50%;

      img {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        float: right;
        padding-bottom: 10px;
      }
    }
  }

}
