.inviteRoot {
  width: 100%;
  height: 95%;
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
  overflow-y: scroll;


  .selectable-list{
    margin-left: 2%;
    position: relative;
    display: flex;
    width: 95%;
    height: 100%;


  }
  .listItemClass {
    margin-top: 2%;
    display: flex;
    position: relative;
    width: 100%;
    height: 20%;
  }
  .loadmoreRoot {
    position: relative;
    justify-content: center;
    display: inline-block;
    width: 40%;
    margin-top: 20px;
    float:left;
    margin-bottom: 10px;
  }
}

.buttons {
  width: 100%;
  height: 30%;
  position: relative;
  display: flex;
  .invitebutton {
    position: relative;
    display: inline-block;
    width: 40%;
    margin-top: 20%;
    float: right;
  }

}

#scrollStyle::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 15px;
  background-color: $custom-backgroundColor;
}

#scrollStyle::-webkit-scrollbar
{
  width: 12px;
  background: transparent;
}

#scrollStyle::-webkit-scrollbar-thumb
{
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background: linear-gradient($primary, $secondary);
}
