<div class="inviteRoot" id="scrollStyle">

  <ng-container class="selectable-list" *ngFor="let item of selectableItems; let i = index">

    <list-item class="listItemClass" [index]="i" [isSelected]="item.isSelected" [name]="item.user.username"
                   [selectFunction]="selectableItemClick" [selectableItem]="item"></list-item>
  </ng-container>

  <div class="loadmoreRootore +">
  <button-default label="Load More +" (click)="loadMoreUsers()"></button-default>
</div>
</div>

<div class="buttons">


  <div class="invitebutton">
    <button-invite label="Send Invite" (click)="sendInvitations()">
    </button-invite>
  </div>
</div>
