unfinished-games {
  .rootUnfinishedGames {
    border: 0.2vw solid black;
    width: 80vw;
    max-height: 400px;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    background: linear-gradient(0deg, $primary, $secondary);
    overflow-y: scroll;

    H1 {
      text-align: center;
      font-family: 'Orbitron', sans-serif;
      color: $white;
    }

    .btnGroup {
      align-items: center;
      padding-top: 0.5vw;
      display: block;
      background-color: transparent;
      padding-left: 5%;
      padding-bottom: 1vw;
    }

   button {
      margin-right: 2vw;
      display: inline-block;
      position: relative;
      border: white solid 2px;
      height: 5%;
      border-radius: 15px;
      background-color: $custom-backgroundColor;
      font-family: 'Orbitron', sans-serif;
      color: $white;
    }

    ul {
      margin: 0 0 2em 0;
      list-style-type: none;
      padding: 0;
      width: 80vw;
    }
  }
  #scrollStyle::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 15px;
    background-color: $custom-backgroundColor;
  }

  #scrollStyle::-webkit-scrollbar
  {
    width: 12px;
    background: transparent;
  }

  #scrollStyle::-webkit-scrollbar-thumb
  {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background: linear-gradient($primary, $secondary);
  }
}
