<div class="rootUnfinishedGames" id="scrollStyle">
  <h1>Load games</h1>

  <ion-content>
    <li *ngFor="let lobby of lobbies" (click)="onSelect(lobby)">
      <div *ngIf="selectedLobby === lobby">
        <unfinished-item [Lobby]="lobby" [selected]="true"></unfinished-item>
      </div>
      <div *ngIf="selectedLobby !== lobby">
        <unfinished-item [Lobby]="lobby" [selected]="false"></unfinished-item>
      </div>
    </li>
  </ion-content>

  <div class="btnGroup">
    <button ion-button tappable (click)="toMenu()">Back to menu</button>
    <button ion-button tappable (click)="loadLobby()" *ngIf="selectedLobby != undefined">Load game</button>
    </div>
</div>
