mainmenu-button {
  .btn-container {
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 15%;
    border-radius: 15px;
    border: 0.3px solid black;
    background: linear-gradient(0deg, $primary, $secondary);


    .pressButton {
      border-radius: 15px;
      background-color: transparent;
      width: 100%;
      height: 100%;
      border: none;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
    }

    ion-label {
      color: $white;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      font-family: 'Orbitron', sans-serif;

    }
  }
}
