<div class="rootNotifications">
  <h1 id="menuHeader">Notifications</h1>
    <notification-list (close)="onClose()" (closeNotif)="onClose()"
                       [notifications]="notificationList"></notification-list>
  <div class="btnBack">
    <mainmenu-button label="Back to menu" (click)="onClose()"></mainmenu-button>
  </div>

</div>

