page-notification {
  background: $custom-backgroundColor;
}

.rootNotifications {
  background: $custom-backgroundColor;
  width: 100%;
  height: 100%;
  font-family: 'Orbitron', sans-serif;
  color: $primary;

  #menuHeader {
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px
  }
  .btnBack {
    margin-bottom: 2%;
    position: relative;
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
