<div class="mainContainer" *ngIf="user">
  <div class="navBar">
    <div class="userWelcome" *ngIf="loggedIn">Welcome, {{user.username}}</div>
    <button class="loginButton"
            *ngIf="loggedIn; else signIn"
            (click)="onSignout()">Sign out</button>
    <ng-template #signIn>
      <button class="loginButton" (click)="onLogin()">Login</button>
    </ng-template>
  </div>
  <div class="rootMainMenu">
    <div class="logo"></div>
    <div class="mainmenuHeader"><p class="title">Space Maze</p></div>

    <div class="mainmenuBody" >
      <div class="buttonBody" *ngIf="!newGameValue && !loadGamesValue">
        <mainmenu-button class="newgame" label="New Game" (click)="newGameClick()"></mainmenu-button>
        <mainmenu-button  label="Load Games" (click)="onLoadGames()"></mainmenu-button>
        <mainmenu-button label="My profile" (click)="profileClick()"></mainmenu-button>
        <mainmenu-button label="Friends" (click)="onFriends()"></mainmenu-button>
      </div>
      <div class="gamesettingbody" *ngIf="newGameValue">
        <gamesettings (backToMenu)="changeToFalse($event)"></gamesettings>
      </div>
      <div *ngIf="loadGamesValue">
        <unfinished-games (backToMenu)="changeToFalse($event)"></unfinished-games>
      </div>
    </div>
    <button-default tappable *ngIf="!newGameValue && !loadGamesValue" label="Notifications" (click)="onNotification()"></button-default>
  </div>
</div>


