page-mainmenu {
  background: $custom-backgroundColor;
  .mainContainer {
    display: grid;
    grid-template-rows: 5% 95%;
    background: $custom-backgroundColor;
  }

  .navBar {
    margin-top: 2%;
    height: 8%;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
  }

  .userWelcome {
    font-family: 'Orbitron', sans-serif;
    color: $primary;
    grid-column: 1/2;
    align-self: start;
    justify-self: start;
  }

  .loginButton {
    position: relative;
    display: flex;
    justify-self: end;
    align-self: start;
    background: transparent;
    font-family: 'Orbitron', sans-serif;
    color: $primary;
    border: none;
    outline: none;
    float: right;
  }


  .rootMainMenu {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: inline-grid;
    background: $custom-backgroundColor;

    .logo {
      margin-top: 10%;
      height: 125px;
      background-image: url("../../assets/logo/LabyrinthLogo.jpg");
      background-position: center;
      background-repeat: no-repeat;
    }

    .mainmenuHeader {
      position: relative;
      font-family: 'Orbitron', sans-serif;
      width: 100%;
      height: 71px;
      font-size: 32px;
      text-align: center;
      background: -webkit-linear-gradient($primary, $secondary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 30px;

    }
    .gamesettingbody {
      margin-bottom: 10%;
      width: 100%;
      margin-left: 15%;
      margin-right: 15%;
      height: 50%;
    }

    .mainmenuBody {
      justify-content: center;
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;

      .buttonBody {
        margin-bottom: 10%;
        position: relative;
        width: 100%;
        justify-content: center;

      }
    }
  }
}

