searchbar {
.searchengine{
  width: 100%;
  padding: 10px;
  background-color: white;
}
}

.searchRoot {
  margin-left: 20%;
  position: relative;
  background: linear-gradient( $primaryopac,$secondaryopac);
  width: 60%;
  border-radius: 15px;
  height: 10%;
  form{
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
  }
  .inputboxClass {
    position: relative;
    background: transparent !important;
    font-family: 'Orbitron', sans-serif;
    color: $white;
    border-radius: 15px !important;
    width: 97%;
    height: 100%;
    padding-left: 2%;
    outline: none;
  }

}

