game-chat-message-content {
  .messageContent {
    position: relative;
    height: 95%;
    width: 22.5vw;
    overflow-y: scroll;

    p {
      color: $white;
      font-family: 'Orbitron', sans-serif;
      word-wrap: break-word;
      font-size: small;
      padding-left: 10px;
    }
  }

  #scrollChat::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background-color: transparent;
  }

  #scrollChat::-webkit-scrollbar {
    width: 12px;
    background: transparent;
  }

  #scrollChat::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background: $custom-backgroundColor;
  }
}
