friend-item {

  .friendContainer {
    width: 25vw;
    border: solid white 2px;
    border-radius: 15px;
    background-color: $custom-backgroundColor;
  }

  .friendContainer h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 4vw;
    color: white;
    margin: 2%;
  }

  .friendContainerSelected {
    width: 20vw;
    border: solid white 2px;
    border-radius: 15px;
    background-color: white;
  }

  .friendContainerSelected h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 3vw;
    color: $custom-backgroundColor;
    margin: 2%;
  }

}
