button-register-signin {
  .rootcontainer {
    position: relative;
    width: 100%;
    height: 50%;
    border-radius: 25px;
    justify-content: center;
    background: linear-gradient(0deg,$primary, $secondary);
    text-align: center;
    align-content: center;

    ion-label {
      width: 100%;
      height: 100%;
      justify-content: center;
      text-transform: lowercase;
      color: $white;
      font-family: 'Orbitron', sans-serif;
      font-size: 22px;
      border-radius: 25px;

    }
    ion-buttons{
      justify-content: center;
      min-width: 175px;
      min-height: 25px;
      height: 100%;
      font-size: 18px;
      border-radius: 25px;
      background: linear-gradient(0deg,$primary, $secondary);
    }

  }

}
