tile {
  .tileStyle {
    width: 4.7vw;
    height: 4.7vw;
    border: #1a0f33 solid 0.5px;
    position: relative;
  }

  .tileImg {
    width: 4.7vw;
    height: 4.7vw;
    border: black solid 0.8px;
  }


}
