<div class="tileStyle">


  <div *ngFor="let player of otherPlayers">
    <pawn *ngIf="tile.position === player.currentPosition "
              [color]="player.color"
              [steps]="steps">
    </pawn>
  </div>

  <div>
    <pawn *ngIf="tile.position === myPlayer.currentPosition "
              [color]="myPlayer.color"
              [steps]="steps">
    </pawn>
  </div>


  <div *ngIf="mazeCard.treasure">
    <treasure *ngIf="mazeCard.treasure" [treasure]="mazeCard.treasure.name"></treasure>
  </div>

  <img [@rotatedState]='rotationState' class="tileImg" [src]="mazeCardSource" alt="">

</div>
