<div class="inputBoxRoot">
  <form>
  <textarea class="textarea" type="text"  placeholder="message" #textArea  (keyup.enter)="sendMessage(textArea)">
  </textarea>
  </form>

  <div class="buttonSendContainer">
    <button-default (click)="sendMessage(textArea)" label="Send"></button-default>
  </div>
</div>
