
.inputBoxRoot {
  position: relative;
  display: flex;
  width: 100%;
  height: 105px;
  flex-direction: column;

  form {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    .textarea {
      position: relative;
      resize: none;
      width: 89vw;
      height: 100%;
      max-width: 100% !important;
      border: solid white 2px ;
      border-radius: 15px;
      background: transparent;
      font-family: 'Orbitron', sans-serif;
      color: white;
    }
  }
  .buttonSendContainer {
    position: relative;
    width: 100%;
    height: 42%;
  }
}
