<div *ngIf="otherUsers">
  <div class="rootOtherPlayers" *ngFor="let user of otherUsers">
    <label class="nameuser">{{user.username}}</label>
    <div class="otherPlayersContent">
      <other-player-item [user]="user" ></other-player-item>
    </div>
  </div>

</div>
