.settingsLobby {
  border-right: 0.5px solid black;
  position: relative;
  width: 100%;
  height: 100%;

  .lblplayers{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25%;
    font-family: 'Orbitron', sans-serif;
    color: $white;
  }
  .settingsLogo {
    position:  relative;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: relative;
      width: 50%;
      height: 50%;
    }
  }
}
