<div class="settingsLobby">
  <div class="lblplayers">
    <label-person-count [online]="online"></label-person-count>
  </div>
  <div class="settingsLogo">
    <img src="../../../../assets/icons/settings.png">
  </div>
</div>

