edit-password {
  .fullWindowCover {
    width: 100%;
    height: 50%;
    z-index: 900;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*semi-transparent black*/
    background-color: rgba(0, 0, 0, 0.5);
  }
  ion-label {
    width: 100%;
  }
  .menuContainer {
    z-index: 1000;
    width: 80%;
    height: 100%;
    margin-top: 30%;
    margin-left: 10%;
    background-color: $custom-backgroundColor;
    border: solid $primary 5px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    grid-template-columns: 100%;
  }

  #menuHeader {
    justify-self: center;
    align-self: start;
    color: #FFFFFF;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
  }
  .menuButtons {
    grid-row: 3/4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    justify-self: center;
    height: 100%;
  }

  .form-group {
    height: 40%;
  }

  .backBtn {
    width: 45%;
    text-align: center;
  }

  .form-container {
    width: 90%;

    justify-self: center;
    display: flex;
    flex-flow: column nowrap;
  }
}
