<div class="fullWindowCover">
  <div class="menuContainer">
    <h1 id="menuHeader">Change password</h1>

    <div class="form-container">
      <div class="form-group">
        <ion-label> Old password </ion-label>
        <inputbox-login-encrypted (signInfo)="readOldPassword($event)"></inputbox-login-encrypted>
      </div>
      <div class="form-group">
        <ion-label> New password </ion-label>
        <inputbox-login-encrypted (signInfo)="readNewPassword($event)"></inputbox-login-encrypted>
      </div>
    </div>

    <div class="menuButtons">
      <button-default class="backBtn" tappable label="Confirm" (click)="onConfirm()"></button-default>
      <button-default class="backBtn" tappable label="Back" (click)="onBack()"></button-default>
    </div>
  </div>
</div>
