<div id="remainingTile" class="tileStyle">
  <div class="mazecardImg">
    <img *ngIf="remainingMazeCard.treasure" src="../../../../assets/treasures/{{remainingMazeCard.treasure.name}}.svg" class="treasureImg" alt="treasureImg">
    <img [@rotatedState]='remainingMazeCard.orientation.toString()'  class="tileImg" [src]="'../../../../../assets/img/mazecards/' + remainingMazeCard.imageType.toString() + '.png'" alt="remainingMazecard">
  </div>
  <img (click)="rotate()" class="rotateImg" src="../../../../assets/arrows/rotate_white.png" alt="rotate">
</div>
