remaining-tile {
  .tileStyle {
    //display: grid;
    //grid-template-rows: 50% 50%;
    display: flex;
    flex-flow: column nowrap;
    margin-left: 12vw;
    margin-top: 2.5vw;
  }

  .mazecardImg {
    //grid-row: 1/2;
    position: relative;
    margin-right: 35%;
    margin-bottom: 2%;
  }

  .treasureImg {
    position: absolute;
    width: 35%;
    height: 45%;
    left: 34%;
    top: 25%;
    z-index: 10;
  }

  .tileImg {
    width: 4vw;
    height: 4vw;
  }

  .rotateImg {
    //grid-row: 2/3;
    width: 2.5vw;
    height: 2.5vw;
    justify-self: end;
    align-self: start;
    margin-top: 1vw;
    margin-left: 0.8vw;
  }



}
