match-item {
  .friendContainer {
    width: 40vw;
    border: solid white 2px;
    border-radius: 15px;
    background-color: $secondary;
  }

  .friendContainer h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 3vw;
    color: white;
    margin: 2%;
  }

  .friendContainerSelected {
    width: 30vw;
    border: solid white 2px;
    border-radius: 15px;
    background-color: white;
  }

  .friendContainerSelected h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 3vw;
    color: $secondary;
    margin: 2%;
  }

}
