button-default {
  .rootcontainer {
    height: 30%;
    border-radius: 5px;
    justify-content: center;

    ion-label {
      text-transform: lowercase;
      color: white;
      font-size: 16px;
      border-radius: 15px;
      font-family: 'Orbitron', sans-serif;
      text-align: center;
    }

    ion-buttons {

      outline: none;
      width: 100%;
      border-radius: 5px;
      background: linear-gradient(0deg, $primary, $secondary);
      border-color: transparent;

    }
  }
}
