<div class="stars"></div>
<div class="twinkling"></div>
<div class="rootSuccess">
  <h2>You are registered!</h2>
  <p>Check your mail to confirm.</p>
  <button-register-signin (click)="goToLogin()" label="Go to login"></button-register-signin>
</div>
