<div class="fullWindowCover">
  <div class="menuContainer">
    <div class="menuHeader">
      <h1 class="title">Add a friend</h1>
      <div class="searchbar">
        <form>
          <input class="inputboxClass" type="text" placeholder="Search" aria-label="Search" #input (keyup.enter)="search(input.value)">
        </form>
      </div>
    </div>
    <div class="menuContent">
      <div class="matchingUser" *ngIf="hasSearched && matchingUser">
        <match-item *ngIf="matchingUser === selectedUser; else noSelected"
                        [friend]="matchingUser"
                        [selected]="true" (click)="onUnselect()"></match-item>
        <ng-template #noSelected>
          <match-item [friend]="matchingUser" [selected]="false" (click)="onSelectMatch(matchingUser)"></match-item>
        </ng-template>
      </div>
      <div class="noMatch" *ngIf="hasSearched && matchingUser === null">
        <p id="noMatchText">No matches.</p>
      </div>
    </div>
    <div class="menuButtons">
      <button class="button" id="backButton" (click)="onBack()">Back</button>
      <button class="button" id="addButton" *ngIf="selectedUser" (click)="onAddFriend(selectedUser)">Add</button>
    </div>
  </div>
</div>
