add-friend-menu {
  .fullWindowCover {
    width: 100%;
    height: 100%;
    z-index: 900;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /*semi-transparent black*/
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menuContainer {
    z-index: 1000;
    width: 70%;
    height: 80%;
    margin-top: 3%;
    margin-left: 15%;
    background-color: $custom-backgroundColor;
    border: solid white 5px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 15% 70% 15%;
  }

  .menuHeader {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: white solid 2px;
  }

  .title {
    grid-column: 1/2;
    margin-left: 2vw;
    font-family: 'Orbitron', sans-serif;
    font-size: 4vw;
    color: white;
    justify-self: center;
    align-self: center;
  }

  .searchbar {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    width: 40vw;
  }

  form{
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
  }

  .inputboxClass {
    position: relative;
    background: transparent;
    font-family: 'Orbitron', sans-serif;
    color: $white;
    border-radius: 15px;
    width: 97%;
    height: 100%;
    padding-left: 2%;
    outline: none;
  }

  .menuContent {
    grid-row: 2/3;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 5vw;
  }

  .matchingUser {
    justify-content: center;
  }

  .menuButtons {
    position: relative;
    display: flex;
   justify-content: space-between;
  }

  #backButton {
    grid-column: 1/2;
    justify-self: start;
    height: 7vw;
    width: 14vw;
  }

  #addButton {

    height: 7vw;
    width: 14vw;
  }

  .button {
    grid-column: 3/4;
    border: solid white 2px;
    border-radius: 15px;
    background-color: $secondary;
    outline: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 4vw;
    color: white;
    height: 7vw;
    width: 14vw;
    margin: 0.5vw;
    justify-self: center;
    align-self: center;
  }

  .button:hover {
    background-color: #FFFFFF;
    color: $secondary;
  }

  #noMatchText {
    font-size: 5vw;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: white;
  }
}
