.rootInvite {
  justify-content: center;
  text-align: center;
  position: relative;
  width:80vw;
  height: 90%;
}

.tab {
  overflow: hidden;
  width: 100%;
}
.tablinks {
  ion-label {
    font-size: 10px;
  }
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  cursor: pointer;
  padding: 1.4vw 1.6vw;
  font-size: 12px;
  font-family: 'Orbitron', sans-serif;
  color: $white;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: $primaryopac;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: $primary;
}
h3 {
  font-family: 'Orbitron', sans-serif;
  color: $primary;

}

/* Style the tab content */
.tabcontent {
  display: none;
  background: transparent;
  padding: 0.6vw 1.2vw;
  height: 375px;
  width: 90vw;

  justify-content: center;
  border-radius: 15px;
}

.tabcontentShow {
  height: 375px;
  border-radius: 15px;
  border: $white solid 2px;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;

}

.flex-container > div {
  width: 40%;
  margin: 0.5vw;
  border: $white solid 3px;
  text-align: left;
  padding: 2vw;
}
.checkIcon{
  text-align: right;
}
.userList {
  position: relative;
  width: 100%;
  height: 100%;
}

