<div class="stars"></div>
<div class="twinkling"></div>
<div class="gamemenu" *ngIf="showMenu" >
  <game-menu *ngIf="showMenu" (back)="onBack()"></game-menu>
</div>

<div class="Game" *ngIf="game">



  <ion-header class="menuContainer">
    <div class="logoAndTitle">
      <button id="logo" (click)="onMenu()"></button>
      <h1 id="title">Space Maze&trade;</h1>
    </div>
    <div class="turnStatusContainer">
      <turn-status (stopTurn)="onEndTurn($event)"
                   [turn]="turn"
                   [btnShow]="myPlayer.playerId === playerTurn.playerId">
      </turn-status>
    </div>
  </ion-header>

  <div class="gameContainer">

    <div class="leftColumn">
      <div class="remainingTileContainer"
           [ngClass]="{'remainingTileContainerNotTurn': myPlayer.playerId !== playerTurn.playerId}">
        <remaining-tile [gameStompClient]="gameStompClient"
                        [remainingMazeCard]="remainingMazeCard"
                        (orientationTurn)="updateTurnOrientation($event)">
        </remaining-tile>
      </div>
      </div>


    <div *ngIf="game" class="gameboardContainer"
         [ngClass]="{'gameboardContainerNotTurn': myPlayer.playerId !== playerTurn.playerId}">

      <gameboard [game]="game"
                 [myPlayer]="myPlayer"
                 [otherPlayers]="otherPlayers"
                 [gameStompClient]="gameStompClient"
                 [playerTurn]="playerTurn"
                 (updatePlayerTurn)="onUpdateTurn($event)">
      </gameboard>
    </div>


    <div class="playerPanels">
      <user-player-panel [player]="myPlayer"></user-player-panel>
      <div *ngFor="let player of otherPlayers">
        <other-player-panel [player]="player"></other-player-panel>
      </div>
    </div>
  </div>
</div>
