page-gametime {

  .Game {
    height: 100%;
    width: 100%;

    .menuContainer {
      position: relative;
      display: flex;
      height: 10%;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 1%;

      .logoAndTitle {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .turnStatusContainer {
        position: relative;
        justify-content: right;
        display: flex;
        width: 100%;
      }
    }


    header {
      text-align: center;
    }

    .gameContainer {
      display: flex;
      position: relative;
      margin-left: 1%;
      margin-right: 1%;
      width: 100%;
      height: 90%;


      .playerPanels {
        margin-top: 5%;
        width: 30%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: right;

      }

      .leftColumn {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 85%;
        width: 25%;
        float: left;
        margin-bottom: 3%;

        .remainingTileContainer {
          margin-top: 20%;
          margin-left: 35%;
          position: relative;
          height: 20%;
          width: 20%;
        }

        .remainingTileContainerNotTurn {
          opacity: 0.7;
          pointer-events: none;
        }

        .chatContainer {
          display: flex;
          position: relative;
          width: 70%;
          height: 58%;

          .chatDummy {
            position: relative;
            display: flex;
            height: 60%;
            width: 80%;
          }
        }
      }

      .gameboardContainer {
        position: relative;
        width: 40%;
        height: 90%;
        justify-content: center;
        justify-self: center;
        align-self: center;
        margin-bottom: 13%;
        margin-right: 5%;
        margin-left: 5%;
      }

      .gameboardContainerNotTurn {
        position: relative;
        width: 40%;
        height: 90%;
        justify-content: center;
        justify-self: center;
        align-self: center;
        opacity: 0.7;
        pointer-events: none;
        margin-bottom: 9%;
        margin-right: 5%;
        margin-left: 5%;
      }
    }

    h1 {
      font-size: small;
      text-align: center;
      font-family: 'Orbitron', sans-serif;
      color: $white;
    }

    * {
      margin: 0;
      padding: 0;
    }

    #logo {
      position: relative;
      height: 11vh;
      width: 6vw;
      outline: none;
      border: none;
      background: transparent;
      background-image: url("../../assets/icons/menu.png");
      background-size: cover;

    }

    .gamemenu {
      position: fixed;
      justify-content: center;
    }

  }
    @keyframes move-twink-back {
      from {
        background-position: 0 0;
      }
      to {
        background-position: -10000px 5000px;
      }
    }

    @-webkit-keyframes move-twink-back {
      from {
        background-position: 0 0;
      }
      to {
        background-position: -10000px 5000px;
      }
    }

    @-moz-keyframes move-twink-back {
      from {
        background-position: 0 0;
      }
      to {
        background-position: -10000px 5000px;
      }
    }

    @-ms-keyframes move-twink-back {
      from {
        background-position: 0 0;
      }
      to {
        background-position: -10000px 5000px;
      }
    }

    .stars, .twinkling, .clouds {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: block;
    }

    .stars {
      background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
      z-index: -1;
    }

    .twinkling {
      background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
      z-index: -1;

      -moz-animation: move-twink-back 200s linear infinite;
      -ms-animation: move-twink-back 200s linear infinite;
      -o-animation: move-twink-back 200s linear infinite;
      -webkit-animation: move-twink-back 200s linear infinite;
      animation: move-twink-back 200s linear infinite;
    }

  }



