.rootInputContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .chatInputContentContainer {
    position: relative;
    width: 100%;
    height: 30%;
    margin-bottom: 4%;

  }
}
