<div class="inputBoxRoot">
  <form>
  <textarea class="textarea" type="text"  placeholder="message" #textArea  (keyup.enter)="sendMessage(textArea.value)">
  </textarea>
  </form>

  <div class="buttonSendContainer">
    <button class="buttonSend" (click)="sendMessage(textArea.value)">
      <img class="sendImg" src="../../../../../../assets/arrows/send-arrow.png" alt="send">
    </button>
  </div>
</div>

