game-chat-inputbox {
  .inputBoxRoot {
    position: relative;
    display: grid;
    grid-template-columns: 85% 15%;
    width: 100%;
    height: 100%;

    form {
      grid-column: 1/2;

      .textarea {
        position: relative;
        resize: none;
        width: 98%;
        max-width: 98% !important;
        border: transparent;
        background: transparent;
        font-family: 'Orbitron', sans-serif;
        color: white;
        outline: none;
        font-size: 10px;
      }
    }

    .buttonSendContainer {
      grid-column: 2/3;
      width: 100%;
      height: 100%;

      .buttonSend {
        width: 100%;
        height: 3.8vw;
        background: transparent;
        border: none;
        outline: none;

        .sendImg {
          height: 2vw;
          width: auto;
          margin-bottom: 25%;
        }
      }
    }
  }
}

