button-invite {
  .rootcontainer {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    justify-content: center;

    ion-label {
      text-transform: lowercase;
      color: white;
      font-size: 16px;
      border-radius: 15px;
      font-family: 'Orbitron', sans-serif;
    }

    ion-buttons {
      width: 100%;
      outline: none;
      border-radius: 5px;
      background: linear-gradient(0deg, $primary, $secondary);
      border-color: transparent;
    }
  }
}
