.rootGameparty {
  border-radius: 15px;
  border: $primary solid 5px;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 10px -12px 5px 0px rgba(255, 69, 141, 0.3);
  -moz-box-shadow: 10px -12px 5px 0px rgba(255, 69, 141, 0.3);
  box-shadow: 10px -12px 5px 0px rgba(235, 88, 114, 0.1);

  .GamepartyWrapper {
    background: transparent;
    position: relative;
    height: 100%;
  }
  .upper-area {
    display: flex;
    position: relative;
    width: 100%;
    height: 30%;
    .settings {
      position: relative;
      height: 100%;
      width: 50%;
    }
    .profile {
      position: relative;
      height: 100%;
      width: 50%;
    }
  }
  .lower-area {
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    .otherplayersarea {
      position: relative;
      height: 100%;
      width: 100%;
      border-top: solid 1px black;
    }
  }

}

