<div class="rootGameparty">
  <div class="GamepartyWrapper">
    <div class="upper-area">
      <div class="settings">
        <host-party-setting [online]="users.length"></host-party-setting>
      </div>
      <div class="profile">
        <host-profile [hostUser]="hostUser"></host-profile>
      </div>
    </div>
    <div class="lower-area">
      <div class="otherplayersarea">
        <other-players class="otherplayers" *ngIf="otherUsers" [otherUsers]="otherUsers"></other-players>
      </div>
    </div>
  </div>
</div>
