gamesettings {
 * {
   font-family: 'Orbitron', sans-serif;
   color: $white;
 }
  .rootGameSetting {
    border: 0.2vw solid black;
    width: 90vw;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2vw;
    justify-content: center;
    background: linear-gradient(0deg, $primary, $secondary);

    input[type=radio] {
      position: absolute;
      visibility: hidden;
      display: none;
      width: 100%;
    }

    .radioLab {
      color: #000000;
      display: inline-block;
      cursor: pointer;
      font-weight: bold;
      padding: 0.5vw 2vw;
    }

    input[type=radio]:checked + label {
      color: $white;
      background: $custom-backgroundColor;
    }

    .seconds {
      line-height: 15px;
      text-align: center;
      font-family: 'Orbitron', sans-serif;
      color: $white;
    }

    H1 {
      text-align: center;
      font-family: 'Orbitron', sans-serif;
      color: $white;
    }

    output {
      font-family: 'Orbitron', sans-serif;
      color: $white;
    }


    .radioLab {
      color: #000000;
      display: inline-block;
      cursor: pointer;
      font-weight: bold;
      padding: 0.5vw 2vw;
    }


    div {
      margin-top: 0.1vw;
      margin-bottom: 0.4vw;
    }

    output {
      margin-left: 2vw;
    }

    .btnGroup {
      position: relative;
      display: flex;
      margin-left: 10%;
      margin-right: 10%;

      background-color: transparent;
    }

    button {
      margin-right: 2vw;
      width: 100%;
      border-radius: 15px;
      display: inline-block;
      position: relative;
      border: $white solid 2px;
      font-size: 12px;
      background-color: $custom-backgroundColor;
      font-family: 'Orbitron', sans-serif;
      color: $white;
    }
  }
}


