<div class="rootGameSetting">
  <h1>Game settings</h1>
  <ion-label>
    Amount of players
  </ion-label>
  <form (ngSubmit)="onSubmit()" #gamesettingForm="ngForm">
    <div>
      <input type="radio" id="twoPlayer" name="amountPlayer" value="2"   [(ngModel)]="data.amountPlayer"/>
      <label class="radioLab" for="twoPlayer">2</label>
      <input type="radio" id="threePlayer" name="amountPlayer" value="3" [(ngModel)]="data.amountPlayer">
      <label class="radioLab" for="threePlayer">3</label>
      <input type="radio" id="fourPlayer" name="amountPlayer" value="4" [(ngModel)]="data.amountPlayer">
      <label class="radioLab" for="fourPlayer">4</label>
    </div>
      <div>
      <ion-label>Time per turn</ion-label><br/>
      <ion-range id="seconds" type="range" min="30" max="90" oninput="secondsVal.value=seconds.value" step="5"
                 name="secondsTurn" #slider [(ngModel)]="data.secondsTurn"></ion-range>
      <ion-label class="seconds">{{slider.value}} seconds</ion-label>
    </div>
    <div class="btnGroup">

      <button ion-button tappable (click)="toMenu()">Back to menu</button>
      <button ion-button  tappable type="submit">Go to lobby</button>
    </div>
  </form>
  <br/>
</div>
