<div class="rootConfirm" *ngIf="!confirmed">
  <h2>Click on the button to confirm</h2>
  <button-register-signin (click)="confirm()" label="Confirm"></button-register-signin>
</div>
<div class="rootConfirm" *ngIf="confirmed">
  <h2>Your registration is completed</h2>
  <span> <i class="fas fa-check"></i></span>
  <button-register-signin (click)="toSignIn()" label="Go to sign in">Go to sign in</button-register-signin>
</div>
