page-registration-confirm {
  background: $custom-backgroundColor;
  .rootConfirm {
    font-family: 'Orbitron', sans-serif;
    top: 20vh;
    color: white;
    width: 25vw;
    position: relative;
    text-align: center;
    display: block;
    background: $custom-backgroundColor;

    alignment: center;
    margin: 0 auto;


    .header {
      align-items: center;
      width: 100%;
      height: 60px;
      font-size: 32px;
      text-align: center;
    }

    .p {
      margin: 20px;
    }
  }
}
